<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intangibleCulturalHeritage.mapper.CommentMapper">
    <resultMap id="commentResultMap" type="Comment">
        <id column="cid" property="cid"></id>
        <result column="ccontent" property="content"></result>
        <result column="ctime" property="date"></result>
        <result column="c_aid" property="aid"></result>
        <result column="c_uid" property="uid"></result>
        <result column="user_name" property="userName"></result>
        <result column="photo" property="photoUrl"></result>
    </resultMap>
    <select id="getCommentByAid" resultMap="commentResultMap">
        select cid, ccontent, ctime, c_aid, c_uid, user_name, photo
        from comment,
             `user`
        where c_uid = id
          and c_aid = #{aid}
        order by c_aid desc
    </select>
    <select id="getCommentedAidByUid" resultType="int">
        select distinct c_aid
        from comment
        where c_uid = #{uid}
    </select>
    <insert id="insertCommentByUidAndAid" useGeneratedKeys="true" keyProperty="cid">
        insert into comment
        values (null, #{content}, #{date}, #{aid}, #{uid})
    </insert>
    <delete id="deleteCommentByCid">
        delete
        from comment
        where cid = #{cid}
    </delete>
</mapper>