<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线指导</title>
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/chatcss/chat.css">
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/hover.css">
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/iconfont/iconfont.css">
    <script src="../../intangibleCulturalHeritage/js/jquery.min.js"></script>
    <script src="../intangibleCulturalHeritage/js/chatJavaScript/chat.js"></script>

</head>
<body>
    <div class="chatting">
        <div class="cloud"></div>
        <div class="cloudtwo"></div>
        <div class="header">
            <div class="head">
                <div class="logo">
                    <h1>
                        <a href="#">拾遗</a>
                    </h1>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/intangibleCulturalHeritage/home">首页</a></li>
                        <li><a href="/intangibleCulturalHeritage/home">美育心语</a></li>
                        <li><a href="/intangibleCulturalHeritage/resource">资源库</a></li>
                        <li><a href="/intangibleCulturalHeritage/forum">论坛分享</a></li>
                        <li><a href="javascript:;" id="chat">在线指导</a></li>
                        <li><a href="javascript:;">深度合作</a></li>
                        <li><a href="/intangibleCulturalHeritage/userInfo" class="iconfont" id="user">&#xe638 用户</a></li>
                    </ul>
                </div>
                <div class="foBtn">
                    <div class="drop" id="drop"></div>
                    <div class="quit cut" id="exitLogin"><a href="javascript:;">退出登录</a></div>
                    <div class="cut"><a href="/intangibleCulturalHeritage/index">切换</a></div>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="chat-wrap">
                <div class="title">名师聊天室</div>
                <div class="texttop" id="chatTextSays"></div>
                <div class="textbottom">
                    <textarea name="chatTextSend" id="chatTextSend" class="set" placeholder="请在此处填写内容"></textarea>
                    <button class="btn" id="chatTextSend_btn">发送</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>