<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>名师学堂</title>
    <link rel="shortcut icon" href="../intangibleCulturalHeritage/images/favicon.ico" />
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/guidancecss/guidance.css">
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/iconfont/iconfont.css">
    <script src="../../intangibleCulturalHeritage/js/jquery.min.js"></script>
    <script src="../intangibleCulturalHeritage/js/guidancejs/guidance.js"></script>
</head>

<body>
    <!-- 导航栏 -->
    <div class="header">
        <div class="head">
            <div class="logo">
                <h1>
                    <a href="/intangibleCulturalHeritage/index">拾遗星球</a>
                </h1>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/intangibleCulturalHeritage/home">首页</a></li>
                    <li><a href="/intangibleCulturalHeritage/resource">拾遗学库</a></li>
                    <li><a href="/intangibleCulturalHeritage/forum">拾遗乐园</a></li>
                    <li><a href="/intangibleCulturalHeritage/chatRoom" id="chat">在线指导</a></li>
                    <li><a href="/intangibleCulturalHeritage/guidance">名师学堂</a></li>
                    <li><a href="javascript:;">深度合作</a></li>
                    <li><a href="/intangibleCulturalHeritage/userInfo" class="iconfont" id="user">&#xe638 用户</a>
                    </li>
                </ul>
            </div>
            <div class="foBtn">
                <div class="drop" id="drop"></div>
                <div class="quit cut" id="exitLogin"><a href="javascript:;">退出登录</a></div>
                <div class="cut"><a href="/intangibleCulturalHeritage/index">切换</a></div>
            </div>
        </div>
    </div>
    <!-- 顶部装饰 -->
    <div class="top">
        <div class="topbg">
            <div class="bannerdes"></div>
            <div class="study">
                <img src="../intangibleCulturalHeritage/images/guidanceimg/study.png" width="100%">
            </div>
            <div class="title">
                <img src="../intangibleCulturalHeritage/images/guidanceimg/toptitle.png" width="100%">
            </div>
        </div>
    </div>
    <!-- 直播简介 -->
    <div class="main">
        <div class="main-contaniner">
            <div class="content">
                <div class="teacher">
                    <a href="/intangibleCulturalHeritage/live" class="toLive">
                        <div class="vedio">
                            <div class="img">
                                <div class="tphoto">
                                    <img src="../intangibleCulturalHeritage/images/teacherimg/xjq.png" width="100%">
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            面塑 · 熊家全老师
                        </div>
                    </a>
                </div>
                <div class="teacher">
                    <a href="javascript:;" class="tolive nolive">
                        <div class="vedio">
                            <div class="img">
                                <div class="tphoto">
                                    <img src="../intangibleCulturalHeritage/images/teacherimg/wyy.jpeg" width="100%">
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            蜀绣 · 吴玉英老师
                        </div>
                    </a>
                </div>
                <div class="teacher">
                    <a href="javascript:;" class="tolive nolive">
                        <div class="vedio">
                            <div class="img">
                                <div class="tphoto">
                                    <img src="../intangibleCulturalHeritage/images/teacherimg/xjm.jpg" width="100%">
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            中国书法 · 许金美
                        </div>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="teacher">
                    <a href="javascript:;" class="tolive nolive">
                        <div class="vedio">
                            <div class="img">
                                <div class="tphoto">
                                    <img src="../intangibleCulturalHeritage/images/teacherimg/ywt.jpeg" width="100%">
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            皮影戏 · 叶牧天老师
                        </div>
                    </a>
                </div>
                <div class="teacher">
                    <a href="javascript:;" class="tolive nolive">
                        <div class="vedio">
                            <div class="img">
                                <div class="tphoto">
                                    <img src="../intangibleCulturalHeritage/images/teacherimg/ygq.jpg" width="100%">
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            男京剧演员 · 严庆谷
                        </div>
                    </a>
                </div>
                <div class="teacher">
                    <a href="javascript:;" class="tolive nolive">
                        <div class="vedio">
                            <div class="img">
                                <div class="tphoto">
                                    <img src="../intangibleCulturalHeritage/images/teacherimg/zgq.jpeg" width="100%">
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            绳编 · 张国庆老师
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="finish">
        <div class="text">
            <p>该老师尚未通过认证</p>
            <p>暂时无法开启直播功能</p>
        </div>
    </div>

</body>

</html>