<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>家长首页</title>
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/homecss/animation.css"/>
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/hover.css">
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/homecss/home.css"/>
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/iconfont/iconfont.css"/>
    <script src="../intangibleCulturalHeritage/js/jquery.min.js"></script>
    <script src="../intangibleCulturalHeritage/js/homeJavascript/home.js"></script>
</head>

<body>
<div class="mouse" id="P"><img src="../intangibleCulturalHeritage/images/mouse.png"/></div>
<!-- 导航栏 -->
<div class="header">
    <div class="head">
        <div class="logo">
            <h1>
                <a href="#">拾遗</a>
            </h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="javascript:;">首页</a></li>
                <li><a href="javascript:;">美育心语</a></li>
                <li><a href="/intangibleCulturalHeritage/resource">资源库</a></li>
                <li><a href="/intangibleCulturalHeritage/forum">论坛分享</a></li>
                <li><a href="/intangibleCulturalHeritage/chatRoom" id="chat">在线指导</a></li>
                <li><a href="javascript:;">深度合作</a></li>
                <li><a href="/intangibleCulturalHeritage/userInfo" class="iconfont" id="user">&#xe638 用户</a></li>
            </ul>
        </div>
        <div class="foBtn">
            <div class="drop" id="drop"></div>
            <div class="quit cut" id="exitLogin"><a href="javascript:;">退出登录</a></div>
            <div class="cut"><a href="/intangibleCulturalHeritage/index">切换</a></div>
        </div>
    </div>
</div>
<!-- 首页 -->
<div class="cloud-wrap">
    <div class="cloud">
        <div class="dec">
            <img src="../intangibleCulturalHeritage/images/homeImg/cloudDes.png" width="100%"/>
        </div>
        <div class="firstcontent">
            <div class="ourintro">
                <div class="startext">
                    <img src="../intangibleCulturalHeritage/images/homeImg/text.png" width="100%">
                </div>
                <div class="addintro">
                    <img src="../intangibleCulturalHeritage/images/homeImg/textsign.png" width="100%">
                </div>
            </div>
            <div class="biglogo">
                <div class="allstar">
                    <img src="../intangibleCulturalHeritage/images/homeImg/star.png" width="100%">
                    <div class="cut"></div>
                    <div class="smallshadow"></div>
                    <div class="paper"></div>
                    <div class="smallfish"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 美育心语 -->
<div class="beautysay" id="beauty">
    <div class="beauty">
        <div class="title">
            <img src="../intangibleCulturalHeritage/images/homeImg/heart.png"/>
        </div>
        <div class="bestar">
            <div class="number left">
                <div class="one numberappear">
                    <div class="numberbg">
                        <img src="../intangibleCulturalHeritage/images/homeImg/one.png" width="100%"/>
                    </div>
                    <div class="num">
                        <img src="../intangibleCulturalHeritage/images/homeImg/numone.png" width="100%"/>
                    </div>
                    <div class="numtext">
                        <div class="numtitle">非遗美育相结合</div>传承非遗文化与美育相结合，为儿童兴趣发展提供更多可能。
                    </div>
                </div>
                <div class="three numberappear">
                    <div class="numberbg">
                        <img src="../intangibleCulturalHeritage/images/homeImg/three.png" width="100%"/>
                    </div>
                    <div class="num">
                        <img src="../intangibleCulturalHeritage/images/homeImg/numthree.png" width="100%"/>
                    </div>
                    <div class="numtext">
                        <div class="numtitle">打造多种交流模式</div>致力于打造非遗沉浸式交流讨论形式；名师在线指导，致力于解决每位儿童难题。
                    </div>
                </div>
            </div>
            <div class="star-contaniner">
                <div class="star">
                    <img src="../intangibleCulturalHeritage/images/homeImg/starNotree.png" width="100%"/>
                    <div class="tree">
                        <img src="../intangibleCulturalHeritage/images/homeImg/tree.png" width="100%"/>
                    </div>
                    <div class="treetwo tree">
                        <img src="../intangibleCulturalHeritage/images/homeImg/tree.png" width="100%"/>
                    </div>
                </div>
            </div>
            <div class="number right">
                <div class="two numberappear">
                    <div class="numberbg">
                        <img src="../intangibleCulturalHeritage/images/homeImg/two.png" width="100%"/>
                    </div>
                    <div class="num">
                        <img src="../intangibleCulturalHeritage/images/homeImg/numtwo.png" width="100%"/>
                    </div>
                    <div class="numtext">
                        <div class="numtitle">寓教于乐</div>以多种非遗为主题岛搭建拾遗星球，以此完成岛上任务；创建丰富资源库供学习。
                    </div>
                </div>
                <div class="four numberappear">
                    <div class="numberbg">
                        <img src="../intangibleCulturalHeritage/images/homeImg/four.png" width="100%"/>
                    </div>
                    <div class="num">
                        <img src="../intangibleCulturalHeritage/images/homeImg/numfour.png" width="100%"/>
                    </div>
                    <div class="numtext">
                        <div class="numtitle">线下活动举办</div>
                        提供志愿者团队服务，与社区或幼儿园联合举办多样化活动。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 资源库 -->
<div class="resource-wrap">
    <div class="resource">
        <div class="title">
            <img src="../intangibleCulturalHeritage/images/homeImg/resourcr.png"/>
        </div>
        <div class="tophalf">
            <div class="reintro">
                <div class="retitle">
                    资源库
                    <div class="reintroImg">
                        <img src="../intangibleCulturalHeritage/images/homeImg/house.png" width="100%"/>
                    </div>
                </div>
                <div class="retext">
                    提供资料包下载，家长可获取更多科普资料，为儿童非遗家庭课堂提供教材。
                </div>
                <div class="learnMore">
                    <div class="most">
                        <img src="../intangibleCulturalHeritage/images/homeImg/more.jpg" width="100%">
                    </div>
                    <div class="moreLitter">
                        更多
                    </div>
                </div>
            </div>
            <!-- 轮播图 -->
            <div class="slideshow">
                <div class="banner">
                    <ul id="banner">
                        <li><img src="../intangibleCulturalHeritage/images/homeImg/1.jpg" width="100%"></li>
                        <li><img src="../intangibleCulturalHeritage/images/homeImg/2.jpg" width="100%"></li>
                        <li><img src="../intangibleCulturalHeritage/images/homeImg/3.jpg" width="100%"></li>
                        <img src="../intangibleCulturalHeritage/images/homeImg/arrowleft.png" class="preImg">
                        <img src="../intangibleCulturalHeritage/images/homeImg/arrowright.png" class="nextImg">
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottomhalf">
            <div class="road">
                <div class="roadPart">
                    <div class="islandstudy">
                        <img src="../intangibleCulturalHeritage/images/homeImg/island.png" width="100%" class="island">
                        <img src="../intangibleCulturalHeritage/images/homeImg/islandturn.png" width="100%" class="islandturn">
                    </div>
                    <div class="roadText">
                        介绍
                    </div>
                </div>
                <div class="line"></div>
                <div class="roadPart">
                    <div class="islandstudy">
                        <img src="../intangibleCulturalHeritage/images/homeImg/island.png" width="100%" class="island">
                        <img src="../intangibleCulturalHeritage/images/homeImg/islandturn.png" width="100%" class="islandturn">
                    </div>
                    <div class="roadText">
                        效果图
                    </div>
                </div>
                <div class="line"></div>
                <div class="roadPart">
                    <div class="islandstudy">
                        <img src="../intangibleCulturalHeritage/images/homeImg/island.png" width="100%" class="island">
                        <img src="../intangibleCulturalHeritage/images/homeImg/islandturn.png" width="100%" class="islandturn">
                    </div>
                    <div class="roadText">
                        材料准备
                    </div>
                </div>
                <div class="line"></div>
                <div class="roadPart">
                    <div class="islandstudy">
                        <img src="../intangibleCulturalHeritage/images/homeImg/island.png" width="100%" class="island">
                        <img src="../intangibleCulturalHeritage/images/homeImg/islandturn.png" width="100%" class="islandturn">
                    </div>
                    <div class="roadText">
                        手工制作
                    </div>
                </div>
                <div class="line"></div>
                <div class="roadPart">
                    <div class="islandstudy">
                        <img src="../intangibleCulturalHeritage/images/homeImg/island.png" width="100%" class="island">
                        <img src="../intangibleCulturalHeritage/images/homeImg/islandturn.png" width="100%" class="islandturn">
                    </div>
                    <div class="roadText">
                        线下推荐
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 在线指导 -->
<div class="tearchWebcast">
    <div class="tewebcast">
        <div class="title">
            <img src="../intangibleCulturalHeritage/images/homeImg/guidance.png"/>
        </div>
        <div class="onguidance">
            <div class="teghost">
                <img src="../intangibleCulturalHeritage/images/homeImg/ghost.png" width="100%">
            </div>
            <div class="tealeft">
                <div class="tecontent">
                    <div class="teintro">
                        <div class="firstpart">
                            <div class="firstbg">
                                <img src="../intangibleCulturalHeritage/images/homeImg/numonebg.png" width="100%">
                            </div>
                            <div class="firstnum">
                                <img src="../intangibleCulturalHeritage/images/homeImg/numone.png" width="100%">
                            </div>
                        </div>
                        <div class="tetext">搭建群聊聊天室，与好友老师在线交流，相互指导。</div>
                    </div>
                    <div class="teintro teintrotwo">
                        <div class="firstpart">
                            <div class="firstbg">
                                <img src="../intangibleCulturalHeritage/images/homeImg/numtwobg.png" width="100%">
                            </div>
                            <div class="firstnum">
                                <img src="../intangibleCulturalHeritage/images/homeImg/numtwo.png" width="100%">
                            </div>
                        </div>
                        <div class="tetext">不定期开展科普及手工教程直播，提供实时在线指导。</div>
                    </div>
                </div>
            </div>
            <div class="tearight">
                <div class="teacherbg">
                    <img src="../intangibleCulturalHeritage/images/homeImg/teacherBg.png" width="100%">
                </div>
                <div class="human">
                    <img src="../intangibleCulturalHeritage/images/homeImg/teacher.png" width="100%">
                </div>
                <div class="teacherdec">
                    <img src="../intangibleCulturalHeritage/images/homeImg/dec.png" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 深度合作 -->
<div class="cooperation-wrap">
    <div class="cooperation">
        <div class="title">
            <img src="../intangibleCulturalHeritage/images/homeImg/cooperation.png"/>
        </div>
        <div class="codetails">
            <div class="details">
                <div class="teamwork">
                    <div class="teamintro">搭建志愿者团队，定期进行志愿者培训，为线下活动进展顺利提供保障。</div>
                    <div class="teamimg">
                        <img src="../intangibleCulturalHeritage/images/homeImg/volunte.jpg" width="100%">
                    </div>
                </div>
                <div class="line"></div>
                <div class="teamwork">
                    <div class="teamintro">
                        与社区或幼儿园携手开展非遗美育，共同为非遗传承和儿童美育培养所努力。
                    </div>
                    <div class="teamimg">
                        <img src="../intangibleCulturalHeritage/images/homeImg/community.jpg" width="100%">
                    </div>
                </div>
            </div>
            <div class="deepbg">
                <div class="bgcolor"></div>
                <div class="cloudline">
                    <img src="../intangibleCulturalHeritage/images/homeImg/cloudbg.png" width='100%'>
                </div>
                <div class="cloudline">
                    <img src="../intangibleCulturalHeritage/images/homeImg/cloudline.png" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 关于我们 -->
<div class="aboutus">
    <div class="about">
        <div class="title">
            <img src="../intangibleCulturalHeritage/images/homeImg/aboutus.png"/>
        </div>
        <div class="us">
            <div class="ghost-contaniner">
                <div class="gh-bg"></div>
                <div class="ghost" id="gh">
                    <img src="../intangibleCulturalHeritage/images/homeImg/ghost.png" width="100%"/>
                </div>
                <div class="gh-dec">
                    <img src="../intangibleCulturalHeritage/images/homeImg/ueDes.png" width="100%"/>
                </div>
                <div class="gh-dec-two">
                    <img src="../intangibleCulturalHeritage/images/homeImg/ghostDes.png" width="100%"/>
                </div>
            </div>
            <div class="usintro">
                <div class="text">
                    国务院在2021年提出需要加大对非物质文化遗产传播九度，融入国民教育体系，引导社会力量参与非物质文化遗产教育培训，广泛开展社会实践和研学活动。甚于此我们团队设相将非遗传播学习与儿童美育相结合，在家长的帮助下与非遗文化学习中，让儿童逐渐培养感受美、鉴赏美、表现美和创造美的能力。
                </div>
                <div class="more-wrap">
                    <div class="more">了解更多</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 尾部 -->
<div class="footer">
    <div class="footer-wrap clearfix">
        <div class="pinkie"></div>
        <div class="footer-nav">
            <ul>
                <li><a href="javascript:;">直播授课</a></li>
                <li><a href="javascript:;">非遗介绍</a></li>
                <li><a href="javascript:;">论坛分享</a></li>
                <li><a href="javascript:;">在线指导</a></li>
                <li><a href="javascript:;">关于我们</a></li>
            </ul>
        </div>
        <div class="connect">
            <i class="iconfont">&#xe678</i>联系我们 Tel：123456789100
        </div>
        <hr>
        <div class="final"><p>Copyright©2018-2022 儿童美育教育工作室</p>
        </div>
    </div>
</div>
<div class="back">
    <div class="backtop">

    </div>
</div>
</body>

</html>