<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>拾遗学库</title>
    <link rel="shortcut icon" href="../intangibleCulturalHeritage/images/favicon.ico" />
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/resource/search.css">
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/hover.css">
    <script src="../intangibleCulturalHeritage/js/echarts.min.js"></script>
    <script src="../intangibleCulturalHeritage/js/china.js"></script>
    <script src="../intangibleCulturalHeritage/js/resourceJavascript/resourcejh.js"></script>
    <script src="../intangibleCulturalHeritage/js/jquery.min.js"></script>
    <script src="../intangibleCulturalHeritage/js/resourceJavascript/map.js"></script>
    <script src="../intangibleCulturalHeritage/js/resourceJavascript/introduce.js"></script>
</head>

<body>
    <div class="before" id="before">
        <div class="beforeImg">
            <img src="../intangibleCulturalHeritage/images/recourseimg/bg.png" id="beforeBg" width="100%">
            <div class="click" id="door"></div>
        </div>
    </div>
    <div class="search" id="search">
        <!-- 导航栏 -->
        <div class="header">
            <div class="head">
                <div class="logo">
                    <h1><a href="/intangibleCulturalHeritage/index">拾遗星球</a></h1>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/intangibleCulturalHeritage/home">首页</a></li>
                        <li><a href="javascript:">拾遗学库</a></li>
                        <li><a href="/intangibleCulturalHeritage/forum">拾遗乐园</a></li>
                        <li><a href="/intangibleCulturalHeritage/chatRoom" id="chat">在线指导</a></li>
                        <li><a href="/intangibleCulturalHeritage/guidance">名师学堂</a></li>
                        <li><a href="javascript:;">深度合作</a></li>
                        <li><a href="/intangibleCulturalHeritage/userInfo" class="iconfont" id="user">&#xe638 用户</a>
                        </li>
                    </ul>
                </div>
                <div class="foBtn">
                    <div class="drop" id="drop"></div>
                    <div class="quit cut" id="exitLogin"><a href="javascript:;">退出登录</a></div>
                    <div class="cut"><a href="/intangibleCulturalHeritage/index">切换</a></div>
                </div>
            </div>
        </div>
        <div class="top">
            <div class="topbg">
                <div class="bird"></div>
                <div class="bannerdes"></div>
                <div class="museum">
                    <img src="../intangibleCulturalHeritage/images/recourseimg/museum.png" width="100%">
                </div>
                <div class="title">
                    <img src="../intangibleCulturalHeritage/images/recourseimg/toptitle.png" width="100%">
                </div>
            </div>
        </div>
        <!-- 地图 -->
        <div class="toppart">
            <div class="maptitle">
                <img src="../intangibleCulturalHeritage/images/recourseimg/maptitle.png" width="100%">
            </div>
            <div class="map">
                <div id="charttwo"></div>
            </div>
            <!-- 世界非遗项目介绍 -->
            <div class="ball">
                <div class="bollintro"></div>
            </div>
            <div class="circle">
                <div id="wrap" class="wrap">
                    <a href="javascript:void(0);" class="tag">古琴艺术</a>
                    <a href="javascript:void(0);" class="tag">昆曲</a>
                    <a href="javascript:void(0);" class="tag">长调民歌</a>
                    <a href="javascript:void(0);" class="tag">木卡姆艺术</a>
                    <a href="javascript:void(0);" class="tag">羌年</a>
                    <a href="javascript:void(0);" class="tag">木拱桥营造</a>
                    <a href="javascript:void(0);" class="tag">纺染织绣</a>
                    <a href="javascript:void(0);" class="tag">篆刻</a>
                    <a href="javascript:void(0);" class="tag">雕版印刷</a>
                    <a href="javascript:void(0);" class="tag">书法</a>
                    <a href="javascript:void(0);" class="tag">剪纸</a>
                    <a href="javascript:void(0);" class="tag">木结构建筑</a>
                    <a href="javascript:void(0);" class="tag">云锦织造</a>
                    <a href="javascript:void(0);" class="tag">端午节</a>
                    <a href="javascript:void(0);" class="tag">农乐舞</a>
                    <a href="javascript:void(0);" class="tag">格萨尔</a>
                    <a href="javascript:void(0);" class="tag">侗族大歌</a>
                    <a href="javascript:void(0);" class="tag">花儿</a>
                    <a href="javascript:void(0);" class="tag">玛纳斯</a>
                    <a href="javascript:void(0);" class="tag">妈祖信俗</a>
                    <a href="javascript:void(0);" class="tag">呼麦歌唱</a>
                    <a href="javascript:void(0);" class="tag">南音</a>
                    <a href="javascript:void(0);" class="tag">热贡艺术</a>
                    <a href="javascript:void(0);" class="tag">桑蚕丝织</a>
                    <a href="javascript:void(0);" class="tag">藏戏</a>
                    <a href="javascript:void(0);" class="tag">龙泉青瓷</a>
                    <a href="javascript:void(0);" class="tag">宣纸</a>
                    <a href="javascript:void(0);" class="tag">西安鼓乐</a>
                    <a href="javascript:void(0);" class="tag">粤剧</a>
                    <a href="javascript:void(0);" class="tag">麦西热甫</a>
                    <a href="javascript:void(0);" class="tag">水密隔舱福船</a>
                    <a href="javascript:void(0);" class="tag">活字印刷术</a>
                    <a href="javascript:void(0);" class="tag">针灸</a>
                    <a href="javascript:void(0);" class="tag">京剧</a>
                    <a href="javascript:void(0);" class="tag">伊玛堪</a>
                    <a href="javascript:void(0);" class="tag">皮影戏</a>
                    <a href="javascript:void(0);" class="tag">木偶戏</a>
                    <a href="javascript:void(0);" class="tag">珠算</a>
                    <a href="javascript:void(0);" class="tag">二十四节气</a>
                    <a href="javascript:void(0);" class="tag">藏医药浴法</a>
                    <a href="javascript:void(0);" class="tag">太极拳</a>
                    <a href="javascript:void(0);" class="tag">送王船</a>
                </div>
                <div class="introduce">
                    <div class="start">
                        <img src="../intangibleCulturalHeritage/images/recourseimg/bollintro.png" width="100%">
                    </div>
                </div>
            </div>
            <!-- 搜索 -->
            <div class="searchtitle">
                <div class="searchintro"></div>
            </div>
            <div class="searchicon">
                <input type="search" placeholder="搜索" id="searchText">
                <div class="searchphoto" id="search_btn">
                    <i class="iconfont">&#xe615</i>
                </div>
                <span class="tip"></span>
            </div>
            <!-- 内容 -->
            <div class="main-wrap">
                <div class="setop">
                    <img src="../intangibleCulturalHeritage/images/recourseimg/searchtop.png" width="100%">
                </div>
                <div class="main">
                    <!-- 渔灯 -->

                    <!-- 皮影戏 -->
                </div>
                <div class="sebottom">
                    <img src="../intangibleCulturalHeritage/images/recourseimg/searchbottom.png" width="100%">
                </div>
            </div>
        </div>
        <div class="bottompart">
            <img src="../intangibleCulturalHeritage/images/recourseimg/bottomcloud.png" width="100%">
        </div>
    </div>
</body>

</html>