<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>资源库</title>
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/resource/search.css">
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../intangibleCulturalHeritage/css/hover.css">
    <script src="../intangibleCulturalHeritage/js/resourceJavascript/resource.js"></script>
    <script src="../intangibleCulturalHeritage/js/resourceJavascript/resourcejh.js"></script>
    <script src="../intangibleCulturalHeritage/js/jquery.min.js"></script>
</head>

<body>
    <div class="mouse" id="P"><img src="../intangibleCulturalHeritage/images/mouse.png" /></div>
    <div class="before" id="before">
        <div class="beforeImg">
            <img src="../intangibleCulturalHeritage/images/recourseimg/bg.png" id="beforeBg" width="100%">
            <div class="click" id="door"></div>
        </div>
    </div>
    <div class="search" id="search">
        <!-- 导航栏 -->
        <div class="header">
            <div class="head">
                <div class="logo">
                    <h1><a href="#">拾遗星球</a></h1>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/intangibleCulturalHeritage/home">首页</a></li>
                        <li><a href="/intangibleCulturalHeritage/home">美育心语</a></li>
                        <li><a href="javascript:">资源库</a></li>
                        <li><a href="/intangibleCulturalHeritage/forum">论坛分享</a></li>
                        <li><a href="/intangibleCulturalHeritage/chatRoom" id="chat">在线指导</a></li>
                        <li><a href="javascript:;">深度合作</a></li>
                        <li><a href="/intangibleCulturalHeritage/userInfo" class="iconfont" id="user">&#xe638 用户</a></li>
                    </ul>
                </div>
                <div class="foBtn">
                    <div class="drop" id="drop"></div>
                    <div class="quit cut" id="exitLogin"><a href="javascript:;">退出登录</a></div>
                    <div class="cut"><a href="/intangibleCulturalHeritage/index">切换</a></div>
                </div>
            </div>
        </div>
        <!-- 图片 -->
        <div class="toppart">
            <div class="photo">
                <img src="../intangibleCulturalHeritage/images/recourseimg/topphoto.jpg" width="100%">
            </div>
            <div class="searchicon">
                <input type="search" placeholder="搜索" id="searchText">
                <div class="searchphoto" id="search_btn">
                    <i class="iconfont">&#xe615</i>
                </div>
                <span class="tip"></span>
            </div>
        </div>
        <!-- 内容 -->
        <div class="main-wrap">
            <div class="main">
                <!-- 渔灯 -->
                <!-- 皮影戏 -->
            </div>
        </div>
    </div>
</body>

</html>