<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>京剧岛</title>
  <link rel="shortcut icon" href="../../intangibleCulturalHeritage/images/favicon.ico" />
  <link rel="stylesheet" href="../../intangibleCulturalHeritage/css/BeijingOperaCss/beijing.css" />
  <link rel="stylesheet" href="../../intangibleCulturalHeritage/css/iconfont/iconfont.css">
  <script src="../../intangibleCulturalHeritage/js/jquery.min.js"></script>
  <script src="../../intangibleCulturalHeritage/js/beijingJavaScript/beijing.js"></script>
</head>

<body>
  <div class="open-wrap">
    <div class="open">
      <div class="tcurtain"></div>
      <div class="lcurtain"></div>
      <div class="rcurtain"></div>
      <div class="titlebegin">
        <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/begin.png">
        <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/welcome.png" class="titleimg">
      </div>
    </div>
  </div>
  
  <div class="all-wrap">
    <div class="all">
      <div class="curtain">
        <div class="lantern-wrap">
          <div class="lanternleft">
            <a href="/intangibleCulturalHeritage/index" class="backIsland">返回小岛</a>
          </div>
          <div class="lanternright" id="question">
            <a href="javascript:;">知识问答</a>
          </div>
        </div>
      </div>
      <div class="top">
        <div class="danceonclick"></div>
        <div class="face-wrap">
          <div class="face">
            <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/facialMakeup.png" width="100%" />
            <div class="faceOnclick"></div>
            <div class="faceOnclick facetwo"></div>
            <div class="faceOnclick facethree"></div>
            <div class="faceOnclick facefour"></div>
          </div>
        </div>
        <div class="backFlag-wrap">
          <div class="backflag">
            <div class="Lflag flag">
              <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/LbackFlag.png" width="100%" />
            </div>
            <div class="Rflag flag">
              <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/RbackFlag.png" width="100%" />
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="bottom-contain">
          <div class="drum-wrap">
            <div class="drum">
              <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/drum.png" width="100%" />
            </div>
          </div>
          <div class="mankind">
            <div class="human">
              <div class="left">
                <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/Lmankind.png" width="100%" />
              </div>
            </div>
            <div class="human">
              <div class="middle">
                <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/Mmankind.png" width="100%" />
              </div>
            </div>
            <div class="human">
              <div class="right">
                <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/Rmankind.png" width="90%" />
              </div>
            </div>
          </div>
          <div class="urheen-wrap">
            <div class="urheen">
              <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/urheen.png" width="120%" />
            </div>
          </div>
        </div>
      </div>
      <!-- 知识问答 -->
      <div class="quit-wrap">
        <div class="questionback">
          <i class="iconfont">&#xe602</i>
        </div>
        <div class="quit">
          <div class="prior">
            <div class="text">
              上一题
              <a href="javascript:;">
                <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/arrow.png" width="100%">
              </a>
            </div>
          </div>
          <div class="question-wrap">
            <div class="question one">
              <div class="queContain">
                <div class="qtitle">
                  第一题
                </div>
                <div class="qtext">
                  <div class="subject">舞台搭建的生活用具包括？</div>
                  <div class="options">
                    <input type="radio" name="one" value="A" id="OA"><label for="OA">A 文房四宝</label>
                  </div>
                  <div class="options">
                    <input type="radio" name="one" value="B" id="OB">
                    <label for="OB"> B 轿子</label>
                  </div>
                  <div class="options">
                    <input type="radio" name="one" value="C" id="OC"><label for="OC"> C 斧 </label>
                  </div>
                  <div class="options">
                    <input type="radio" name="one" value="D" id="OD">
                    <label for="OD"> D 门旗</label>
                  </div>
                </div>
                <div class="qcorrect">
                  确认
                </div>
                <div class="good">
                  你真棒！
                </div>
                <div class="bad">
                  你选错啦，再试试吧
                </div>
              </div>
            </div>
            <div class="question two">
              <div class="queContain">
                <div class="qtitle">
                  第二题
                </div>
                <div class="qtext">
                  <div class="subject">《捉放曹》中陈宫所唱“马行在夹道内我难以回马”，唱完前六字及“内”字长腔，利用“我”这一衬字向内“偷”吸一口气，以便唱足下面“难以回马”的腔，这是什么唱法？
                  </div>
                  <div class="options">
                    <input type="radio" name="two" value="A" id="TA"><label for="TA"> A 气口 </label>
                  </div>
                  <div class="options"><input type="radio" name="two" value="B" id="TB"><label for="TB"> B 换气</label>
                  </div>
                  <div class="options"><input type="radio" name="two" value="C" id="TC"><label for="TC"> C 偷气</label>
                  </div>
                  <div class="options"><input type="radio" name="two" value="D" id="TD"><label for="TD"> D 嘎调</label>
                  </div>
                </div>
                <div class="qcorrect">
                  确认
                </div>
                <div class="good">
                  你真棒！
                </div>
                <div class="bad">
                  你选错啦，再试试吧
                </div>
              </div>
            </div>
            <div class="question three">
              <div class="queContain">
                <div class="qtitle">
                  第三题
                </div>
                <div class="qtext">
                  <div class="subject">京剧脸谱绘画最复杂的是</div>
                  <div class="options"><input type="radio" name="three" value="A" id="THA"><label for="THA"> A 生</label>
                  </div>
                  <div class="options"><input type="radio" name="three" value="B" id="THB"><label for="THB"> B 旦</label>
                  </div>
                  <div class="options"><input type="radio" name="three" value="C" id="THC"><label for="THC"> C 净</label>
                  </div>
                  <div class="options"><input type="radio" name="three" value="D" id="THD"><label for="THD"> D 末</label>
                  </div>
                </div>
                <div class="qcorrect">
                  确认
                </div>
                <div class="good">
                  你真棒！
                </div>
                <div class="bad">
                  你选错啦，再试试吧
                </div>
              </div>
            </div>
            <div class="question four">
              <div class="queContain">
                <div class="qtitle">
                  第四题
                </div>
                <div class="qtext">
                  <div class="subject">京剧行当的划分除依据人物的自然属性（性别、年龄）和社会属性（身份、职业）外，主要是按人物的____来分类。</div>
                  <div class="options"><input type="radio" name="four" value="A" id="FOA"><label for="FOA"> A
                      身高体重</label></div>
                  <div class="options"><input type="radio" name="four" value="B" id="FOB"><label for="FOB"> B
                      家庭角色</label></div>
                  <div class="options"><input type="radio" name="four" value="C" id="FOC"><label for="FOC"> C
                      社会地位</label></div>
                  <div class="options"><input type="radio" name="four" value="D" id="FOD"><label for="FOD"> D
                      性格特征</label></div>
                </div>
                <div class="qcorrect">
                  确认
                </div>
                <div class="good">
                  你真棒！
                </div>
                <div class="bad">
                  你选错啦，再试试吧
                </div>
              </div>
            </div>
            <div class="question five">
              <div class="queContain">
                <div class="qtitle">
                  第五题
                </div>
                <div class="qtext">
                  <div class="subject">旗帜是在___色方旗上绘绿色水纹、火焰、风、车轮等等。演员执旗，略微颤动，就可以表示波浪起伏、着火、起风、乘车。</div>
                  <div class="options"><input type="radio" name="five" value="A" id="FA"><label for="FA"> A 红</label>
                  </div>
                  <div class="options"><input type="radio" name="five" value="B" id="FB"><label for="FB"> B 橙</label>
                  </div>
                  <div class="options"><input type="radio" name="five" value="C" id="FC"><label for="FC"> C 白</label>
                  </div>
                  <div class="options"><input type="radio" name="five" value="D" id="FD"><label for="FD"> D 蓝</label>
                  </div>
                </div>
                <div class="qcorrect">
                  确认
                </div>
                <div class="good">
                  你真棒！
                </div>
                <div class="bad">
                  你选错啦，再试试吧
                </div>
              </div>
            </div>
          </div>
          <div class="latter">
            <div class="text">
              <a href="javascript:;">
                <img src="../../intangibleCulturalHeritage/images/BeijingOperaImg/arrow.png" width="100%">
              </a>
              下一题
            </div>

          </div>
          <div class="finish">
            <div class="text">
              <p>恭喜你完成所有题目</p>
              <p>获得一枚小徽章</p>
              <p class="tip">(快返回小岛，点击头像查看吧)</p>
              <p>可以点击再次答题</p>
            </div>
          </div>
          <div class="finish youfinish">
            <div class="text">
                <p>恭喜你完成所有题目</p>
            </div>
        </div>    
        </div>
      </div>

      <!-- 知识卡片 -->
      <!-- 舞台 -->
      <div class="knowledge-wrap">
        <div class="knowledge">
          <div class="out">
            <i class="iconfont">&#xe602</i>
          </div>
          <div class="next">下一页</div>
          <div class="last">上一页</div>
          <!-- 舞台 -->
          <div class="knowMain dance">
            <!-- 左侧 -->
            <div class="knowTitle">
              <div class="intro">
                砌末是大小道具与一些简单装置即舞台搭建的统称
              </div>
              <div class="title">
                <h3>舞台</h3>
              </div>
            </div>
            <!-- 右侧 -->
            <div class="knowContain">
              <div class="knowtext">
                <p>
                  砌末是戏曲解决表演与实物
                  矛盾的特殊产物。砌末一词
                  在金、元时期已有。
                </p>
                <p>传统戏曲舞台上的砌末包括：
                  生活用具（如烛台、灯笼、扇子、手绢、文房四宝、茶具、酒具）；
                  交通用具（如轿子、车旗、船桨、马鞭等）；
                  武器又称刀枪把子（如各种刀、枪、剑、斧、锤、鞭、棍、棒等）；</p>
                <p>
                  武器（又称刀枪把子，如各种刀、枪、剑、斧、锤、鞭、棍、棒等）；表现环境、点染气氛的种种物件（如布城、大帐、小帐、门旗、纛旗、水旗，风旗、火旗、蛮仪器仗、桌围椅披）等。
                </p>
                <p>除常用的砌末之外，也可根据演出需要临时添置。</p>
              </div>
              <div class="knowtext">
                <p>在演员没有上场以前，桌椅只是
                  一种抽象的摆设。</p>
                <p>如演出皇帝视朝，这张桌子便成了视朝时所需的御案；县宫坐衙，这张桌子便成了坐衙时所需的公案；朋友宴会，便成了宴会时所需要的酒席。以上是实物实用，</p>
                <p>
                  但戏曲舞台上的桌椅还可以做代用品。比如用桌子代替山石，人要上山，就站在桌子上；要跳墙，就用桌子当墙；要睡觉，将身伏在桌上，用手支住头。
                </p>
                <p>桌椅无论代表什么，都是妙在似与不似之间。如戏曲中的布城虽然比较简陋，但决不追求城的真实再现。布城可以根据城的需要自由调度。</p>
              </div>
              <div class="knowtext">
                <p>旗帜在舞台上使用很多：</p>
                <p>
                  如正方形帅字旗、长方形三军令旗、大纛旗（古代军队里的大旗
                  ），都是表示元帅及大本营所在地的。还有水旗、火旗、风旗、车旗等等。
                </p>
                <p>这些旗帜是在白色方旗上绘绿色水纹、火焰、风、车轮等等。演员执旗，略微颤动，就可以表示波浪起伏、着火、起风、乘车。 </p>
                <p>
                  戏曲舞台上并不回避“露假”，也不要求一一写实。扬鞭以代马，摇桨以代船。
                </p>
              </div>
            </div>
          </div>
          <!-- 乐器 -->
          <div class="knowMain music">
            <!-- 左侧 -->
            <div class="knowTitle">
              <div class="intro">
                京剧伴奏乐器分打击乐器与管弦乐器。
              </div>
              <div class="title">
                <h3>乐器</h3>
              </div>
            </div>
            <!-- 右侧 -->
            <div class="knowContain">
              <div class="knowtext">
                <p>
                  打击乐器有板、单皮鼓、大锣、铙、钹等，称为“武场”。
                </p>
                <p>管弦乐器有京胡、京二胡、月琴、三弦，称为“文场”。</p>
                <p>唱腔主要分为“西皮”与“二黄”两大类。</p>
                <p>常见剧目中，有《四郎探母》，西皮导板用来起头大量的唱段，比较常用。在演员没有上场的情况下先在幕后唱的，唱完后人物才出场，这是二黄导板</p>
              </div>
              <div class="knowtext">
                <p>京剧演唱方法举例：</p>
                <p>
                  气口：指演员唱曲时吸气的方法。气口包括换气、偷气两种。换气指唱腔间歇中的吸气，偷气是在乐句若断若续中吸气而不使听者觉察。
                </p>
                <p>换气：换气不是停腔再唱或明显稍顿再接唱，而是在行腔吞吐字音的瞬间，乘便呼吸，蓄气待换。唱腔中在何处换气，因人而异，一般称为气口。 </p>
              </div>
              <div class="knowtext">
                <p>偷气：换气时不着痕迹，在观众不觉察时偷换。如《捉放曹》中陈宫所唱“马行在夹道内我难以回马”，唱完前六字及“内”字长腔，利用“我”这一衬字向内“偷”吸一口气，以便唱足下面“难以回马”的腔，即谓之偷气。
                </p>
                <p>
                  嘎调：用突出拔高的音唱某一字时，习称嘎调。如《四郎探母》中杨延辉唱“站立宫门叫小番”一句中的“番”字</p>
              </div>
            </div>
          </div>
          <!-- 脸谱 -->
          <div class="knowMain faceintro">
            <!-- 左侧 -->
            <div class="knowTitle">
              <div class="intro">
                脸谱对于不同的行当，情况不一。
              </div>
              <div class="title">
                <h3>脸谱</h3>
              </div>
            </div>
            <!-- 右侧 -->
            <div class="knowContain">
              <div class="knowtext">
                <p>“脸谱”是指中国传统戏剧里男演员脸部的彩色化妆。 </p>
                <p>
                  这种脸部化妆主要用于净（花脸）和丑（小丑）。它在形式、色彩和类型上有一定的格式。内行的观众从脸谱上就可以分辨出这个角色是英雄还是坏人，聪明还是愚蠢，受人爱戴还是使人厌恶。</p>
                <p>京剧脸谱以“象征性”和“夸张性”著称。它通过运用夸张和变形的图形来展示角色的性格特征。眼睛、额头和两颊通常被画成蝙蝠、蝴蝶或燕子的翅膀状，再加上夸张的嘴和鼻子，制造出所需的脸部效果。</p>
              </div>
              <div class="knowtext">
                <p> 不同颜色脸谱的意义</p>
                <p>红脸忠义、耿直、有血性，如关羽。</p>
                <p>黑脸既表现性格严肃，不苟言笑，为中性，代表猛智;又象征威武有力、粗鲁豪爽,如包拯，李逵</p>
                <p>蓝脸性格刚直，桀骜不驯，如马武</p>
                <p>紫脸肃穆、稳重，富有正义感，如徐延昭</p>
                <p>白脸奸诈多疑，含贬义，代表凶诈，如曹操</p>
                <p>银色脸表现奸诈多疑或威武庄严，表现鬼怪或神仙,如木咤。</p>
                <p>金脸象征威武庄严，表现神仙，如二郎神</p>
                <p>黄脸代表勇猛、暴躁。如典韦。</p>
                <p>绿脸象征勇猛，莽撞，冲动。 如徐世英</p>
              </div>
              <div class="knowtext smallp">
                <p>脸谱的分类</p>
                <p>根据描绘着色方式，分为以下四种</p>
                <p>
                  揉脸：凝重威武，整色为主，加重五官纹理,是十分古老的脸谱形式。
                </p>
                <p>勾脸：色彩绚丽，图案丰富，有的贴金敷银，华丽无比。</p>
                <p>抹脸：浅色为多，涂粉于面，不以真面目示人。</p>
                <p>破脸：不对称脸，左右不一，形容面貌丑陋。</p>
                <p>根据脸谱的图案排列，分以下四种 </p>
                <p>整脸：最原始的脸谱形式，用双眉把脸分为额和面两部分。</p>
                <p>三块瓦脸：在整脸的基础上用口鼻把脸分左右</p>
                <p>花三块瓦脸：把三块瓦脸的分界边缘艺术化，加上各式图案</p>
                <p>碎脸：三块瓦脸的变种，分界边缘花形大，破坏原有轮廓。</p>
              </div>
            </div>
          </div>
          <!-- 角色 -->
          <div class="knowMain role">
            <!-- 左侧 -->
            <div class="knowTitle">
              <div class="intro">
                各个行当都有一套表演程式，在唱念做打的技艺上各具特色
              </div>
              <div class="title">
                <h3>角色</h3>
              </div>
            </div>
            <!-- 右侧 -->
            <div class="knowContain">
              <div class="knowtext">
                <p>京剧行当的划分，除依据人物的自然属性（性别、年龄）和社会属性（身份、职业）外，主要是按人物的性格特征来分类。 </p>
                <p>
                  京剧班社旧有“七行七科”之说 ：七行即生行、旦行（亦称占行）、净行、丑行、杂行、武行、流行。</p>
                <p> 京剧舞台上的一切都不是按照生活里的原貌出现的。京剧舞台上的角色也不是按照生活当中人的本来面貌出现的，而是根据所扮演角色的性别、性格、年龄、职业以及社会地位等，在化妆、服装各方面加以若干艺术的夸张。
                </p>
              </div>
              <div class="knowtext">
                <p>这样就把舞台上的角色划分成为生、旦、净、丑四种类型。这四种类型在京剧里的专门名词叫做“行当”。</p>
                <p>生:除了花脸以及丑角以外的男性正面角色的统称，分老生（重唱的安工老生，重武的靠把老生）、武生（长靠武生、短打武生并应工猴儿戏）、小生（扇子生、雉尾生、穷生、武小生）。 </p>
                <p>旦:女性正面角色的统称，分青衣（正旦）、花旦、闺门旦、刀马旦、武旦、彩旦、老旦。</p>
              </div>
              <div class="knowtext">
                <p>
                  净:俗称花脸，大多是扮演性格、品质或相貌上有些特异的男性人物，化妆用脸谱，音色洪亮，风格粗犷。“净”又分为以唱功为主的大花脸，分正净（重唱功，称铜锤、黑头）、架子花（重工架）、武二花、摔打花、油花（一称毛净）。
                </p>
                <p>末:也属老生类，但在年龄上应更老，思维糊涂，生活在底层的老人。由于化妆时在鼻梁上抹以小块白粉而俗称"小花脸"，又同净角的大花脸、二花脸并列而俗称"三花脸"。 </p>
                <p>丑:扮演喜剧角色，因在鼻梁上抹一小块白粉，俗称小花脸。分文丑（方巾丑、袍带丑、老丑、荣衣丑，并兼演彩旦、婆子）、武丑（又称开口跳）等。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>