<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>鱼灯岛</title>
    <link rel="shortcut icon" href="../../intangibleCulturalHeritage/images/favicon.ico" />
    <link rel="stylesheet" href="../../intangibleCulturalHeritage/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../intangibleCulturalHeritage/css/fishLanternCss/fishLantern.css">
    <script src="../../intangibleCulturalHeritage/js/jquery.min.js"></script>
    <script src="../../intangibleCulturalHeritage/js/fishLanternjavaScript/fishLantern.js"></script>
</head>

<body>
    <div class="all-wrap">
        <div class="all">
            <div class="top">
                <div class="welcome">
                    鱼灯小岛的旅程开始啦~依次点击鱼灯完成你的闯关任务吧~
                </div>
                <div class="back">
                    <a href="/intangibleCulturalHeritage/index">返回小岛</a>
                </div>
            </div>
            <div class="bottom">
                <!-- 河流部分 -->
                <div class="fish-wrap">
                    <div class="fish">
                        <!-- 鱼 -->
                        <div class="fishes fishone">
                            <img src="../../intangibleCulturalHeritage/images/fishLanternImg/fishone.png" width="68%"
                                class="img">
                        </div>
                        <div class="fishes fishtwo">
                            <img src="../../intangibleCulturalHeritage/images/fishLanternImg/fishtwo.png" width="100%"
                                class="img">
                        </div>
                        <div class="fishes fishthree">
                            <img src="../../intangibleCulturalHeritage/images/fishLanternImg/fishthree.png" width="95%"
                                class="img">
                        </div>
                        <div class="fishes fishfour">
                            <img src="../../intangibleCulturalHeritage/images/fishLanternImg/fishfour.png" width="68%"
                                class="img">
                        </div>
                        <div class="fishes fishfive">
                            <img src="../../intangibleCulturalHeritage/images/fishLanternImg/fishfive.png" width="80%"
                                class="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 任务点 -->
        <div class="taskbg taskone">
            <div class="task">
                <div class="title">鱼灯介绍</div>
                <div class="mission">
                    <video class="videos" src="../../intangibleCulturalHeritage/images/fishLanternImg/jieshao.mp4"
                        controls></video>
                </div>
                <div class="btnclose">
                    <i class="iconfont delect">&#xe602</i>
                </div>
            </div>
        </div>
        <div class="taskbg tasktwo">
            <div class="task">
                <div class="title">鱼灯效果图</div>
                <div class="mission">
                    <div class="tu">
                        <div class="fishimg">
                            <img src="../../intangibleCulturalHeritage/images/fishLanternImg/tu1.jpg" alt="">
                        </div>
                        <div class="fishimg">
                            <img src="../../intangibleCulturalHeritage/images/fishLanternImg/tu2.jpg" alt="">
                        </div>
                        <div class="fishimg tuthree">
                            <img src="../../intangibleCulturalHeritage/images/fishLanternImg/tu3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="btnclose">
                    <i class="iconfont delect">&#xe602</i>
                </div>
            </div>
        </div>
        <div class="taskbg taskthree">
            <div class="task">
                <div class="title">材料准备</div>
                <div class="mission">
                    <video src="../../intangibleCulturalHeritage/images/fishLanternImg/cailiao.mp4" controls
                        width="100%"></video>
                </div>
                <div class="btnclose">
                    <i class="iconfont delect">&#xe602</i>
                </div>
            </div>
        </div>
        <div class="taskbg taskfour">
            <div class="task">
                <div class="title">手工制作</div>
                <div class="mission">
                    <video class="videos" src="../../intangibleCulturalHeritage/images/fishLanternImg/zhizuo.mp4"
                        controls width="100%"></video>
                </div>
                <div class="btnclose">
                    <i class="iconfont delect">&#xe602</i>
                </div>
            </div>
        </div>
        <div class="taskbg taskfive">
            <div class="task">
                <div class="title">线下参观推荐</div>
                <div class="mission">
                    <div class="offline">
                        <div class="shareone">
                            <h4>沙头角鱼灯舞民俗博物馆</h4>
                            <div class="mumseum">
                                <img src="../../intangibleCulturalHeritage/images/fishLanternImg/bowuguan.jpeg"
                                    width="100%">
                            </div>
                            <p>沙头角鱼灯舞民俗博物馆位于广东省深圳市盐田区沙头角中英街内，博物馆介绍了沙头角鱼灯舞保护与传承。沙头角鱼灯舞是沙栏吓村吴氏祖先时代相传的传统民间舞蹈，流传已有三百多年的历史。
                            </p>
                        </div>
                        <div class="sharetwo">
                            <h4>沙湾古镇</h4>
                            <div class="mumseum">
                                <img src="../../intangibleCulturalHeritage/images/fishLanternImg/shawan.jpg"
                                    width="100%">
                            </div>
                            <p>鱼灯是盛行于珠江三角洲一带，富有水乡特色的扎作工艺，通常在元宵节、中秋节等节日，珠三角的古镇里，家家户户门前，都能看到各式各样的鱼灯模型。旧时每逢传统节日，民众都会手持鱼灯，列队跳舞，穿街过巷，好不热闹。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="btnclose">
                    <i class="iconfont delect">&#xe602</i>
                </div>
            </div>
        </div>
    </div>
    <div class="finish">
        <div class="text">
            <p>恭喜你完成所有关卡</p>
            <p>获得一枚小徽章</p>
            <p class="tip">(快返回小岛，点击头像查看吧)</p>
        </div>
    </div>
    <div class="finish youfinish">
        <div class="text">
            <p>恭喜你完成所有关卡</p>
        </div>
    </div>
    <div class="mouse"><img src="../../intangibleCulturalHeritage/images/mouse.png" /></div>
</body>

</html>