<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>拾遗星球</title>
  <link rel="shortcut icon" href="../../intangibleCulturalHeritage/images/favicon.ico" />
  <link rel="stylesheet" href="../../intangibleCulturalHeritage/css/indexCss/first.css" />
  <link rel="stylesheet" href="../../intangibleCulturalHeritage/css/indexCss/base.css" />
  <link rel="stylesheet" href="../../intangibleCulturalHeritage/css/iconfont/iconfont.css">
  <script src="../../intangibleCulturalHeritage/js/jquery.min.js"></script>
  <script src="../../intangibleCulturalHeritage/js/echarts.min.js"></script>
  <script src="../../intangibleCulturalHeritage/js/indexJavascript/index.js"></script>
</head>

<body>
  <div class="mouse" id="P"><img src="../../intangibleCulturalHeritage/images/mouse.png" /></div>
  <header>
    <div class="header">
      <!-- logo制作start -->
      <div class="logo">
        <h1>
          <a href="/intangibleCulturalHeritage/index">拾遗星球</a>
        </h1>
      </div>
      <!-- logo制作end -->
      <div class="circle">
        欢迎来到拾遗星球~点击图标开始你的冒险旅程吧！！
      </div>
      <div class="headRight">
        <div class="head-right">
          <div class="feesback user" id="photo"></div>
          <div class="feesback" id="name"></div>
          <div class="feesback" id="unLogin"><a id="exitLogin" href="javascript:;" class="fdbg">退出登录</a></div>
          <div class="feesback run">
            <a href="/intangibleCulturalHeritage/home" class="fdbg">切换</a>
            <div class="drop">
              <ul>
                <li class="item"><a href="/intangibleCulturalHeritage/forum">拾遗乐园</a></li>
                <li><a href="/intangibleCulturalHeritage/resource">拾遗学库</a></li>
                <li><a href="/intangibleCulturalHeritage/chatRoom" id="chat">在线指导</a></li>
                <li><a href="/intangibleCulturalHeritage/guidance">名师学堂</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="dao">
      <a href="/intangibleCulturalHeritage/shadowPlay" class="img1"><img
          src="../../intangibleCulturalHeritage/images/indeImg/shadowisland.png" class="img" /></a>
      <a href="/intangibleCulturalHeritage/beijing" class="img2"><img
          src="../../intangibleCulturalHeritage/images/indeImg/beijingopera.png" class="img" /></a>
      <a href="javascript:void(0);" class="img3 noclick"><img
          src="../../intangibleCulturalHeritage/images/indeImg/papercutting.png" class="img" /></a>
      <a href="javascript:void(0);" class="img4 noclick"><img
          src="../../intangibleCulturalHeritage/images/indeImg/tieDyeing.png" class="img" /></a>
      <a href="/intangibleCulturalHeritage/fishLantern" class="img5"><img
          src="../../intangibleCulturalHeritage/images/indeImg/fishIsland.png" class="img" /></a>
      <a href="javascript:void(0);" class="img6 noclick"><img
          src="../../intangibleCulturalHeritage/images/indeImg/bumphIsland.png" class="img" /></a>
      <a href="javascript:void(0);" class="img7"><img
          src="../../intangibleCulturalHeritage/images/indeImg/stairs.png" /></a>
      <a href="/intangibleCulturalHeritage/game" class="img8 gameisland"><img
          src="../../intangibleCulturalHeritage/images/indeImg/gameisland.png" class="img"  /></a>
      <a href="javascript:void(0);" class="img9"><img
          src="../../intangibleCulturalHeritage/images/indeImg/leftIsland.png" /></a>
      <a href="javascript:void(0);" class="img10"><img
          src="../../intangibleCulturalHeritage/images/indeImg/rightIsland.png" /></a>
      <a href="javascript:void(0);" class="img11"><img
          src="../../intangibleCulturalHeritage/images/indeImg/shade.png" /></a>
      <div class="tip">
        <span class="tip1 small"><img src="../../intangibleCulturalHeritage/images/indeImg/Shadow.png" /></span>
        <span class="tip2 small"><img src="../../intangibleCulturalHeritage/images/indeImg/opera.png" /></span>
        <span class="tip3 small"><img src="../../intangibleCulturalHeritage/images/indeImg/cutting.png" /></span>
        <span class="tip4 small"><img src="../../intangibleCulturalHeritage/images/indeImg/tie.png" /></span>
        <span class="tip5 small"><img src="../../intangibleCulturalHeritage/images/indeImg/fish.png" /></span>
        <span class="tip6 small"><img src="../../intangibleCulturalHeritage/images/indeImg/bumph.png" /></span>
        <span class="tip7 small"><img src="../../intangibleCulturalHeritage/images/indeImg/game.png" /></span>
      </div>
      <div class="cloud">
        <span class="clouds cloudone"><img src="../../intangibleCulturalHeritage/images/indeImg/cloudone.png"></span>
        <span class="clouds cloudtwo"><img src="../../intangibleCulturalHeritage/images/indeImg/cloudtwo.png"></span>
        <span class="clouds cloudthree"><img
            src="../../intangibleCulturalHeritage/images/indeImg/cloudthree.png"></span>
        <span class="clouds cloudfour"><img src="../../intangibleCulturalHeritage/images/indeImg/cloudfour.png"></span>
      </div>
    </div>
  </section>
  <!--学习记录表  -->
  <div class="taskbg taskone">
    <div class="task">
      <div class="head" id="head">
      </div>
      <div class="title">学习记录表</div>
      <div id="chartone"></div>
      <div class="badge"></div>
      <div class="btnclose">
        <i class="iconfont delect">&#xe602</i>
      </div>
      <div class="check">
        <span class="hui">查看徽章</span>
        <span class="fan">返回</span>
      </div>
    </div>
  </div>
  <div class="nocreate">
    <span>该岛尚未开发，敬请期待</span>
  </div>



</body>

</html>