<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>皮影岛</title>
    <link rel="shortcut icon" href="../../intangibleCulturalHeritage/images/favicon.ico" />
    <link rel="stylesheet" href="../../intangibleCulturalHeritage/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../intangibleCulturalHeritage/css/shadow/shadowplay.css">
    <script src="../../intangibleCulturalHeritage/js/jquery.min.js"></script>
    <script src="../../intangibleCulturalHeritage/js/shadowJavascript/shadowPlay.js"></script>
</head>

<body>
    <div class="all-wrap">
        <div class="all">
            <div class="top">
                <div class="welcome">
                    皮影小岛的旅程开始啦~依次点击荷叶完成你的闯关任务吧~
                </div>
                <div class="back">
                    <a href="/intangibleCulturalHeritage/index">返回小岛</a>
                </div>
                <!-- 天空动的云 -->
                <div class="cloud cloudone">
                    <img src="../../intangibleCulturalHeritage/images/shadowImg/cloud.gif" width="80%">
                </div>
                <div class="cloud cloudtwo">
                    <img src="../../intangibleCulturalHeritage/images/shadowImg/cloud.gif" width="80%">
                </div>
                <div class="cloud cloudthree">
                    <img src="../../intangibleCulturalHeritage/images/shadowImg/cloudRight.gif" width="75%">
                </div>
                <div class="cloud cloudfour">
                    <img src="../../intangibleCulturalHeritage/images/shadowImg/cloudRight.gif" width="100%">
                </div>
            </div>
            <div class="middle">
                <div class="house-wrap">
                    <div class="house">
                        <div class="house-left">
                        </div>
                        <div class="house-right">
                        </div>
                    </div>
                </div>
                <!-- 云雾 -->
                <div class="cloudbg">
                </div>
                <!-- 皮影 -->
                <div class="shadow-wrap">
                    <div class="shadow">
                    </div>
                </div>
            </div>
            <div class="bottom">
                <!-- 河流部分 -->
                <div class="river-wrap">
                    <div class="river">
                        <div class="rivergif"></div>
                        <div class="rivergif rivergiftwo"></div>
                        <div class="rivergif rivergifthree"></div>
                        <!-- 荷叶 -->
                        <div class="lotusleaf leafone">
                            <img src="../../intangibleCulturalHeritage/images/shadowImg/leafone.png" width="60%"
                                class="img">
                            <div class="flower">
                                <img src="../../intangibleCulturalHeritage/images/shadowImg/flower.png" width="60%">
                            </div>
                        </div>
                        <div class="lotusleaf leaftwo">
                            <img src="../../intangibleCulturalHeritage/images/shadowImg/leaftwo.png" width="80%"
                                class="img">
                            <div class="flower">
                                <img src="../../intangibleCulturalHeritage/images/shadowImg/flower.png" width="80%">
                            </div>
                        </div>
                        <div class="lotusleaf leafthree">
                            <img src="../../intangibleCulturalHeritage/images/shadowImg/leafthree.png" width="80%"
                                class="img">
                            <div class="flower">
                                <img src="../../intangibleCulturalHeritage/images/shadowImg/flower.png" width="90%">
                            </div>
                        </div>
                        <div class="lotusleaf leaffour">
                            <img src="../../intangibleCulturalHeritage/images/shadowImg/leaffour.png" width="70%"
                                class="img">
                            <div class="flower">
                                <img src="../../intangibleCulturalHeritage/images/shadowImg/flower.png" width="70%">
                            </div>
                        </div>
                        <div class="lotusleaf leaffive">
                            <img src="../../intangibleCulturalHeritage/images/shadowImg/leaffive.png" width="95%"
                                class="img">
                            <div class="flower">
                                <img src="../../intangibleCulturalHeritage/images/shadowImg/flower.png" width="85%">
                            </div>
                        </div>
                        <!-- 船 -->
                        <div class="boat" id="boat">
                            <img src="../../intangibleCulturalHeritage/images/shadowImg/boat.png" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 任务点 -->
        <div class="taskbg taskone">
            <div class="task">
                <div class="title">皮影戏介绍</div>
                <div class="mission">
                    <video class="videos" src="../../intangibleCulturalHeritage/images/shadowImg/taskone.mp4" controls
                        width="100%"></video>
                </div>
                <div class="btnclose">
                    <i class="iconfont delect">&#xe602</i>
                </div>
            </div>
        </div>
        <div class="taskbg tasktwo">
            <div class="task">
                <div class="title">皮影戏《孙悟空三打白骨精》精彩片段</div>
                <div class="mission">
                    <video class="videos" src="../../intangibleCulturalHeritage/images/shadowImg/tasktwo.mp4" controls
                        width="100%"></video>
                </div>
                <div class="btnclose">
                    <i class="iconfont delect">&#xe602</i>
                </div>
            </div>
        </div>
        <div class="taskbg taskthree">
            <div class="task">
                <div class="title">皮影戏制作</div>
                <div class="mission">
                    <video src="../../intangibleCulturalHeritage/images/shadowImg/taskthree.mp4" controls
                        width="100%"></video>
                </div>
                <div class="btnclose">
                    <i class="iconfont delect">&#xe602</i>
                </div>
            </div>
        </div>
        <div class="taskbg taskfour">
            <div class="task">
                <div class="title">手工制作</div>
                <div class="mission">
                    <video class="videos" src="../../intangibleCulturalHeritage/images/shadowImg/taskfour.mp4" controls
                        width="100%"></video>
                    <p class="litter">材料准备：1个旧的玩具盒（或纸箱）、1张深色的卡纸、1张白色的纸、厚纸壳、照明灯，竹签、剪刀、手工刀、尺子、双面胶、胶水、画笔</p>
                </div>
                <div class="btnclose">
                    <i class="iconfont delect">&#xe602</i>
                </div>
            </div>
        </div>
        <div class="taskbg taskfive">
            <div class="task">
                <div class="title">线下参观推荐</div>
                <div class="mission">
                    <div class="offline">
                        <div class="shareone">
                            <h4>成都博物馆（影舞万象）</h4>
                            <div class="mumseum">
                                <img src="../../intangibleCulturalHeritage/images/shadowImg/shareone.png" width="100%">
                            </div>
                            <p>成都皮影戏及木偶戏是四川同类剧种中最具代表性、观赏性和地方特色的戏剧种类。深刻地影响了川西平原的民间艺术，在本土艺术发展史和民间说唱艺术史上均占有十分重要的地位。</p>
                        </div>
                        <div class="sharetwo">
                            <h4>西安市明清皮影艺术博物馆</h4>
                            <div class="mumseum">
                                <img src="../../intangibleCulturalHeritage/images/shadowImg/sharetwo.png" width="100%">
                            </div>
                            <p>博物馆已落成4年有余，收藏国宝级陕西东路皮影200多件，都是精品中的精品，展现了清代鼎盛时期皮影艺术的魅力。</p>
                        </div>
                    </div>
                </div>
                <div class="btnclose">
                    <i class="iconfont delect">&#xe602</i>
                </div>
            </div>
        </div>
    </div>
    <div class="finish">
        <div class="text">
            <p>恭喜你完成所有关卡</p>
            <p>获得一枚小徽章</p>
            <p class="tip">(快返回小岛，点击头像查看吧)</p>
        </div>
    </div>
    <div class="finish youfinish">
        <div class="text">
            <p>恭喜你完成所有关卡</p>
        </div>
    </div>
    <div class="mouse"><img src="../../intangibleCulturalHeritage/images/mouse.png" /></div>
</body>

</html>