<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账号与安全</title>
    <link rel="shortcut icon" href="../../intangibleCulturalHeritage/images/favicon.ico" />
    <link rel="stylesheet" href="../../intangibleCulturalHeritage/css/passwordCss/password.css">
    <script src="../../intangibleCulturalHeritage/js/jquery.min.js"></script>
    <script src="../../intangibleCulturalHeritage/js/passwordJavascript/updatePasswordjh.js"></script>

</head>
<body>
    <div class="mouse" id="P"><img src="../../intangibleCulturalHeritage/images/mouse.png" /></div>
    <div class="myhead">
        <div class="aboutps">
            <div class="ps">
                <div class="password-wrap">
                    <form action="user" id="passwordForm">
                        <div class="password">
                            原密码:
                            <input type="password" id="oldPassword" name="oldPassword"></input>
                            <div class="tip"></div>
                        </div>
                        <div class="password">
                            新密码:
                            <input type="password" id="newPassword" name="newPassword"></input>
                            <div class="tip" id="noSame"></div>
                        </div>
                        <div class="password">
                            确认密码:
                            <input type="password" id="rePassword" name="rePassword"></input>
                            <div class="tip"></div>
                        </div>
                        <div class="update">
                            <a href="javascript:;" id="password_btn">确认修改</a>
                        </div>
                        <div class="return">
                            <a href="/intangibleCulturalHeritage/userInfo">返回首页</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="star">
        <img src="../../intangibleCulturalHeritage/images/updateImg/starLU.png" alt="">
    </div>
</body>
</html>