/*清除默认模式，字体设定*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  outline: none;
}

/*解决浮动对父元素的影响*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

body {
  background-image: url(../../images/updateImg/fo-userbg.png);
}

.myhead {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/updateImg/content.png);
  background-repeat: no-repeat;
  background-position: 180px 33px;
}

.aboutps {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
}

.ps {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}

.password-wrap {
  position: relative;
  width: 100%;
  height: 550px;
  padding-left: 50px;
}

.password {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.password input {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: -7px;
  margin-left: 40px;
  padding-left: 10px;
  width: 80%;
  height: 40px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
}

.update,
.return {
  position: absolute;
  border-radius: 25px;
  background-color: #fff;
}

.update {
  left: 200px;
}

.return {
  right: 200px;
}

.update a,
.return a {
  display: block;
  width: 120px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
}

/* 提示框 */
.tip {
  position: relative;
  left: 60px;
  top: 16px;
  padding-left: 20px;
  padding-top: 1px;
  font-size: 13px;
}

.wrong {
  color: red;
}

/* 阿飘鼠标 */
.mouse {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 120;
}

.mouse img {
width: 60px;
height: 50px;
}