/*清除默认模式，字体设定*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    outline: none;
}

/*解决浮动对父元素的影响*/
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

body {
    background-image: url(../../images/chatImg/bg.png);
}

.chatting {
    position: relative;
    width: 100%;
    height: 770px;
}

/* 导航栏 */
.header {
    width: 100%;
    margin-bottom: 10px;
}

.head {
    position: relative;
    width: 1400px;
    height: 55px;
    margin: 0 auto;
}

.head .logo {
    position: relative;
    float: left;
    left: 4%;
    top: 5px;
    width: 130px;
    height: 50px;
}

.logo a {
    position: relative;
    display: block;
    width: 140px;
    height: 50px;
    font-size: 0;
    background-size: contain;
    background-image: url(../../images/forumImg/logo.png);
    background-repeat: no-repeat;
}

.head .nav {
    float: left;
    width: 840px;
    height: 50px;
    margin-left: 120px;
}

.head .nav ul li {
    float: left;
    margin-right: 40px;
    height: 50px;
}

.head .nav li a {
    display: block;
    width: 80px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

/* 检验是否登录 */
.unLogin {
    position: absolute;
    display: none;
    top: 70px;
    left: 475px;
    width: 400px;
    height: 90px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, .9);

}

.unLogin p {
    padding-top: 15px;
    padding-left: 20px;
}

.unLogin span {
    display: inline-block;
    margin-top: 10px;
    margin-left: 77px;
}

/* 切换按钮 */
.foBtn {
    float: left;
    margin-left: 60px;
    padding-top: 10px;
    width: 230px;
    height: 50px;
    line-height: 50px;
}

.foBtn .cut,
.foBtn .drop {
    float: left;
    width: 70px;
    height: 35px;
    margin-right: 5px;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #fff;
    opacity: .7;
    cursor: pointer;
}

/* 聊天界面 */
.chat {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.chat-wrap {
    position: relative;
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    border-radius: 10px;
    padding-left: 6px;
    overflow: hidden;
    background-image: url(../../images/chatImg/iphone.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    position: relative;
    top: 28px;
    left: 400px;
    width: 110px;
    height: 66px;
    text-align: center;
    line-height: 80px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;

}

.texttop {
    width: 740px;
    height: 480px;
    resize: none;
    border: none;
    margin-top: 35px;
    margin-left: 80px;
    font-size: 20px;
    padding: 20px;
    letter-spacing: 2px;
    border-radius: 10px;
    overflow-y: scroll;
}

.texttop::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    background-color: transparent;
    background-color: rgb(250, 227, 253);
}

.texttop::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #fff;
}

.textbottom {
    position: relative;
    width: 1100px;
    height: 80px;
}

.set {
    position: relative;
    left: 91px;
    top: 12px;
    width: 620px;
    height: 50px;
    resize: none;
    border: none;
    padding-left: 20px;
    line-height: 50px;
    border-radius: 30px;
    letter-spacing: 2px;
    background-color: rgb(220, 220, 220);
    overflow-y: auto;
}

.btn {
    position: absolute;
    bottom: 22px;
    right: 300px;
    border: none;
    resize: none;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.star{
    position: absolute;
    top:460px;
    left: 30px;
}

.startwo{
    position: absolute;
    top: 0;
    right: 0px;
    width: 100px;
    height: 350px;
    background-image: url(../../images/updateImg/starRD.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50px 0;
}