/*清除默认模式，字体设定*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    outline: none;
}

/*解决浮动对父元素的影响*/
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

body {
    background-image: url(../../images/forumImg/bg.png);
}

/* 修改滚动条 */
::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background-color: transparent;
    background-color: rgb(251, 241, 237);
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #feb867;
}

/* 头部 */
.header {
    width: 100%;
}

.head {
    position: relative;
    width: 1400px;
    height: 55px;
    margin: 0 auto;
}

.head .logo {
    position: relative;
    float: left;
    left: 4%;
    top: 5px;
    width: 130px;
    height: 50px;
}

.logo a {
    position: relative;
    display: block;
    width: 140px;
    height: 50px;
    font-size: 0;
    background-size: contain;
    background-image: url(../../images/forumImg/logo.png);
    background-repeat: no-repeat;
}

.head .nav {
    float: left;
    width: 840px;
    height: 50px;
    margin-left: 120px;
}

.head .nav ul li {
    float: left;
    margin-right: 40px;
    height: 50px;
}

.head .nav li a {
    display: block;
    width: 80px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

/* 检验是否登录 */
.unLogin {
    position: absolute;
    display: none;
    top: 70px;
    left: 475px;
    width: 400px;
    height: 90px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, .9);
    z-index: 22;

}

.unLogin p {
    padding-top: 15px;
    padding-left: 20px;
}

.unLogin span {
    display: inline-block;
    margin-top: 10px;
    margin-left: 77px;
}

/* 切换按钮 */
.foBtn {
    float: left;
    margin-left: 60px;
    padding-top: 10px;
    width: 230px;
    height: 50px;
    line-height: 50px;
}

.foBtn .cut,
.foBtn .drop {
    float: left;
    width: 70px;
    height: 35px;
    margin-right: 5px;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #fff;
    opacity: .7;
    cursor: pointer;
}

.forum-bg {
    position: relative;
    width: 100%;
}

.starright {
    position: absolute;
    top: 0px;
    right: 50px;
    width: 40px;
}

.starleft {
    position: absolute;
    top: 120px;
    left: 50px;
    width: 40px;
}

/* 主体 */
.main {
    width: 100%;
    margin-top: 20px;
}

.main-contanier {
    position: relative;
    display: flex;
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-contanier .left,
.main-contanier .right {
    position: sticky;
    top: 42px;
    width: 160px;
    height: 500px;
    box-shadow: 0 0 25px 2px rgba(206, 202, 202, 0.7);
    background-color: rgba(255, 255, 255, .7);
    border-radius: 12px;
    padding: 20px;
    margin-left: 15px;
}

.main-contanier .right {
    margin-left: 50px;
}

.main-contanier .middle {
    width: 950px;
    margin-left: 50px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 25px 2px rgba(206, 202, 202, 0.7);
    background-color: rgba(255, 255, 255, .7);
}

/* 发帖 */
.issue-wrap {
    display: none;
    width: 950px;
    /* height: 280px; */
    padding: 20px;
}

.issuebox {
    position: relative;
    width: 900px;
    /* height: 250px; */
    margin: 0 auto;
}

.issue {
    width: 850px;
    /* height: 250px; */
    margin: 0 auto;
    background-color: #f0f1f4;
    border: darkgrey 1px solid;
    border-radius: 8px;
}

.issuebox .issue .issuetitle {
    width: 850px;
    height: 50px;
    outline: none;
    resize: none;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-top: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
}

.issuebox .issue .issuetext {
    width: 850px;
    height: 50px;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    border-radius: 8px;
    letter-spacing: 2px;
    padding-left: 10px;
    background-color: transparent;
}

.issuebox .issuebtn {
    position: absolute;
    bottom: 10px;
    right: 26px;
    width: 100px;
    height: 40px;
    z-index: 22;
}

.issuebox .issuebtn button {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    opacity: .5;
    outline: none;
    cursor: pointer;
    border: none;
}

.issuebox .issuebtn button span {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

/* 左边栏 */
.main .share,
.main .answer {
    width: 200px;
    margin: 0 auto;
}

.main .answer {
    margin-top: 95px;
}

.main .left h4 {
    margin: 10px 0;
    font-size: 18px;
}

.main .left ul {
    margin-left: 30px;
}

.left ul li a {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

/* 右边栏 */
.right h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.right ul li i {
    position: relative;
    display: inline-block;
    top: 5px;
    font-size: 30px;
    margin-right: 10px;
}

.right ul li a .bolds {
    font-weight: bold;
}

.right ul li a {
    display: block;
    margin-bottom: 30px;
    font-size: 16px;
}

.main .right h4 {
    margin: 10px 0;
    font-size: 18px;
}

/* 帖子内容 */
.middle .post-one {
    width: 100%;
    margin-bottom: 15px;
}

/* 发帖人信息 */
.middle .post-one .puser {
    display: flex;
    width: 100%;
    height: 65px;
}

.post-one .puser .use-img {
    width: 60px;
    height: 60px;
    margin-left: 92px;
    margin-top: 17px;
}

.post-one .use-img img {
    max-width: 420px;
    max-height: 230px;
}

.post-one .puser .u-name {
    position: relative;
    width: 100px;
    height: 80px;
    margin-left: 15px;
    margin-top: 26px;
    font-size: 20px;
    font-weight: bold;
}

.post-one .puser .time {
    position: absolute;
    bottom: 28px;
    width: 100px;
    font-size: 15px;
    font-weight: normal;
}

/* 帖子内容 */
.post-one .texts {
    width: 90%;
    margin: 0 auto;
}

.post-one .texts .ptext {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
}

.ptext .ptitle {
    width: 100%;
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
}

.pcontaniner {
    width: 100%;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 10px;
}

.ptext .pimg {
    margin-top: 10px;
    width: 100%;
}

/* 功能 */
.post-one .texts .tools-wrap {
    width: 100%;
}

.post-one .texts .tools {
    width: 90%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}

.post-one .tools i {
    display: inline-block;
    width: 30%;
    height: 50px;
    margin-right: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

/* 评论 */
.review {
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
}

.btn {
    top: 25px;
    width: 90%;
    height: 50px;
}

.btn textarea {
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid darkgray;
    font-size: 18px;
    outline: none;
    resize: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: transparent;
}

.btn button {
    position: absolute;
    width: 60px;
    height: 50px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.review ul {
    position: relative;
}

.review li {
    display: inline-block;
    width: 730px;
    height: 40px;
    padding: 5px;
    color: #333;
    font-size: 15px;
    margin: 5px 0;
    margin-bottom: 15px;
}

.review li a {
    position: relative;
    right: 10px;
    float: right;
    font-size: 14px;
    margin-top: 11px;
    color: rgb(70, 119, 224);
}

.review .pin img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.word {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.review .pin {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/* 尾部 */
.footer {
    margin-top: 100px;
    width: 100%;
}

.footer-wrap {
    position: relative;
    width: 100%;
    height: 200px;
}

.pinkie {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1100px;
    height: 135px;
    background-image: url(../../images/forumImg/footer-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 50px;
}

.footer .footer-nav {
    position: absolute;
    top: 20px;
    left: 60px;
    float: left;
    height: 80px;
}

.footer-nav ul li {
    float: left;
    margin-right: 120px;
    height: 80px;
    padding-top: 10px;
}

.footer-nav li a {
    display: block;
    width: 80px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    color: #666;
}

.footer-wrap .connect {
    position: absolute;
    top: 20px;
    right: 120px;
    float: right;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    color: #666;
}

.connect i {
    position: relative;
    display: inline-block;
    left: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    color: #666;
}

.final {
    position: absolute;
    top: 125px;
    left: -20px;
    width: 400px;
    height: 30px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
}

.final p {
    color: #666;
    font-size: 16px;
}

.good {
    color: red;
    pointer-events: auto;
}

/* 分享文章按钮 */
.shareArticle {
    width: 30%;
    border: 0px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

/* 分页 */

.paging ul {
    /* 实现没有固定宽度的盒子也能居中 */
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.paging ul li {
    margin-left: 5px;
    float: left;
    padding: 7px 12px;
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
}

.paging a {
    font-size: 14px;
}

/* 上传图片预览 */
.issuebox .img {
    max-width: 420px;
    max-height: 230px;
    margin-top: 5px;
    margin-left: 10px;
    display: block;
    overflow: hidden;
}

.issuebox .img img {
    max-width: 420px;
    max-height: 230px;
}

#xdaTanFileImg {
    margin-left: 10px;
    margin-bottom: 10px;
}

 /* 分享弹窗 */
 .share_hover{
    position: fixed;
    display: none;
    top: 50%;
    left: 40%;
    width: 300px;
    height: 80px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(249, 214, 160);
    z-index: 22;

 }


.share_hover span {
    display: inline-block;
    margin: 30px 50px;
}
