/*清除默认模式，字体设定*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  outline: none;
}

/*解决浮动对父元素的影响*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

body {
  background-image: url(../../images/recourseimg/reBg.png);
  background-size: 101%;
}

/* 修改滚动条 */
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background-color: transparent;
  background-color: rgb(251, 241, 237);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #feb867;
}

/* 导航栏 */
.header {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgb(251, 228, 226);
}

.head {
  position: relative;
  width: 1400px;
  height: 50px;
  margin: 0 auto;
}

.head .logo {
  position: relative;
  float: left;
  left: 4%;
  width: 130px;
  height: 50px;
}

.logo a {
  position: relative;
  display: block;
  width: 140px;
  height: 50px;
  font-size: 0;
  background-size: contain;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
}

.head .nav {
  float: left;
  width: 900px;
  height: 50px;
  margin-left: 150px;
}

.head .nav ul li {
  float: left;
  margin: 0 20px;
  height: 50px;
}

.head .nav li a {
  display: block;
  width: 80px;
  height: 50px;
  line-height: 55px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/* 切换按钮 */
.foBtn {
  float: left;
  margin-left: -10px;
  padding-top: 10px;
  width: 230px;
  height: 50px;
  line-height: 50px;
}

.foBtn .cut,
.foBtn .drop {
  float: left;
  width: 70px;
  height: 35px;
  margin-right: 5px;
  line-height: 35px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

/* 头部装饰 */
.top {
  position: relative;
  width: 100%;
  height: 850px;
  overflow: hidden;
}

.topbg{
  width: 1530px;
  height: 910px;
  margin: 0 auto;
  background-image: url(../../images/guidanceimg/banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 -25px;
}

.bannerdes {
  position: absolute;
  bottom:64px;
  width: 1530px;
  height: 210px;
  background-image: url(../../images/recourseimg/bannerDes.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.study {
  position: relative;
  top: 200px;
  left: 200px;
  width: 150px;
  height: 350px;
  animation: vertY .6s linear forwards;
}

@keyframes vertY{
  from{
  transform: rotateY(0deg);
  }
  to{
  transform: rotateY(360deg);
  }
}

.top .title {
  position: relative;
  top: 156px;
  left: 615px;
  width: 320px;
  height: 100px;
  transform-origin: center;
  animation: down .6s forwards;
}

@keyframes down{
  0%{
    transform: rotate(-15deg);
  }
  50%{
  transform: rotate(15deg);
  }
  75%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/* 直播 */
.main {
  position: relative;
  top: -80px;
  width: 100%;
  height: 700px;
  padding-top: 25px;
}

.main-contaniner {
  width: 1300px;
  height: 650px;
  margin: 0 auto;
}

.content {
  display: flex;
  width: 1300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.tolive{
    display: block;
}

.teacher {
  width: 380px;
  height: 300px;
  border-radius: 10px;
  margin-left: 40px;
  cursor: pointer;
}

.vedio {
  width: 380px;
  height: 220px;
  padding-top: 5px;
}

.text {
  width: 380px;
  height: 50px;
  margin-top: 10px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: '楷体';
}

.img {
  width: 380px;
  height: 220px;
  text-align: center;
  margin: 0 auto;
  background-image: url(../../images/guidanceimg/tborder.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.img .tphoto{
    position: relative;
    width:348px;
    margin: 0 auto;
    margin-top: 9px;
    background-color: #fff;
    z-index: -1;
    border-radius: 10px;
}
.finish{
  display: none;
  position: absolute;
  top: 170px;
  left: 550px;
  width: 445px;
  height: 270px;
  z-index: 33;
  background-image: url(../../images/finish.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.finish .text{
  margin-top: 80px;
  margin-left: 30px;
  font-size: 18px;
  line-height: 40px;
}

.finish .text p{
  font-size: 25px;
  font-family: '楷体';
  font-weight: 600;
  margin-bottom: 10px;
}
/* 提示 */
.introappear {
  animation: changeIntro 1s linear forwards;
}

@keyframes changeIntro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 提示消失 */
.introdisappear {
  animation: changedis 1s linear forwards;
}

@keyframes changedis {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
